.form-group{
  display: inline-block;
  margin-bottom: 1.5rem;
  position: relative;
}

input{
  width:250px;
}

// -  errors   - //
input.ng-invalid.ng-touched{
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}